<h1><%= welcomeMessage %></h1>
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="100" class="purecounter">0</span>
                  <p>Football Admirers</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="50" class="purecounter">0</span>
                  <p>Football Projects</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="10" class="purecounter">0</span>
                  <p>Years of experience</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                  <p>Awards</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="../img/thumbnail/football.jpg" class="img-fluid" alt="">
            <a href="https://youtu.be/Y60CQMkLOE4" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>This app will connect you with football admirers all around the world & you can have fun by building your own dream team and rate and update your favorite Clubs & Players..</h3>
            <h4 class="bold">
              ⚽Passion and emotion⚽
            </h4>
            <ul>
              <li><i class="bx bx-check-double"></i>Football is associated with passion, emotion, excitement and dedication across the world.</li>
              <li><i class="bx bx-check-double"></i>References to extreme emotional experiences at football games characterised all aspects of discussions with fans — some referring to the 'pure joy' and exhilaration of being at football games.</li>
              <li><i class="bx bx-check-double"></i>Such is the intensity of the experience that two thirds of fans have cried at football matches — mostly through joy, but occasionally because of despair.</li>
              <li><i class="bx bx-check-double"></i>Football provides for many fans an opportunity to let themselves go emotionally — to release the frustrations of everyday life.</li>
            </ul>
            <h5>
              There is a strong commonality among all fans across the world — football unites rather than divides .
            </h5>
              
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="fade-in">

        <div class="text-center">
          <h3>The Dream Team App</h3>
          <p>  Easily create your own Dream-Team in our application, Add your favorite club, favorite player, & update there Clubs, Teams, Positions, Kit numbers & many other details you are looking forward to. Share your point of view regarding your preferred Player to the World. </p>
          <a class="cta-btn" href="#">Analyze</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>Our Services</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              
              <h4 class="title"><a href="/dreamClub/index">⚽ Dream Clubs</a></h4>
              <p class="description">You can create your own Dream Team in our App & Share your point of view regarding your preferred Player to the World. </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              
              <h4 class="title"><a href="/player/index">⚽ Players</a></h4>
              <p class="description">Add or create your preferred Players to ammend them in your Dream Team.   </p>


            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
             
              <h4 class="title"><a href="/club/index">⚽ Clubs</a></h4>
              <p class="description">Add or create your preferred clubs to ammend them in your Dream Team along with your preffered Players</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
             
              <h4 class="title"><a href="">🌐 Stay Connected</a></h4>
              <p class="description">We will keep you up to date with all possible Football news and informations.</p>
            </div>
          </div>

        
          
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->
