#fontSize{
    font-size: 20px;
}
#h4{
    font-size: 40px;
}#h3{
    font-size: 30px;
}
#li{
    font-size: 15px;
}
#addNavbar {
    float: right;
}

/* #addContainer,#addNavbar {
    display: inline;
} */

.btn-success {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid white;
    border-radius: 40px;
    background:#94c045;
    transition: all 0.3s ease 0s;
    margin-top: 5px;
  }

#logoImage {
    width: auto;
    height: 150px;
}


#header {
    height: 150px;
}

#headerContainer {
    height: 100px;
}
#imgUserProfile{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#indexImageSize{
    width: 90px;
    height: 90px;
}